# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit secrets
.streamlit/secrets.toml

# Local MNIST dataset
dataset/mnist_data.npz

# OS files
.DS_Store
Thumbs.db