# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Dataset cache / temporary files
*.tmp
*.temp

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db